/*
    Fix weirdness when enabling line numbers and "Editor maximum width".
*/

/* Make the line numbers background stick to the left: */
.CodeMirror-gutters {
    left: 0px !important;
}

/* We need to set the background-color of the line numbers for each theme: */
.CodeMirror-linenumber { background-color: #f7f7f7; } /* light theme is default */
.cm-s-material-darker .CodeMirror-linenumber { background-color: #212121; } /* dark and oled Joplin theme use same CM theme */
.cm-s-solarized.cm-s-light .CodeMirror-linenumber { background-color: #eee8d5; }
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber { background-color: #073642; }
.cm-s-dracula .CodeMirror-linenumber { background-color: #282a36; }
.cm-s-nord .CodeMirror-linenumber { background-color: #2e3440; }
.cm-s-monokai .CodeMirror-linenumber { background-color: #272822; }

/* Add space for the line numbers by moving all lines to the right: */
.CodeMirror-sizer {
    padding-left: 40px;
}

/* Move the actual line numbers (which are connected to the lines) back to the left again: */
/* .CodeMirror-linenumber, */
.CodeMirror-gutter-wrapper, .CodeMirror-gutter-background {
    margin-left: -40px;
}